<div class="row">
  <div class="col-md-12">
    <h1 class="text-center mb-4">Nuestro Equipo</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti
    beatae quia at eos optio quasi itaque deserunt alias repudiandae. Unde sint
    dolore nesciunt, ex optio nobis fugit nemo rerum?
  </div>
  <div class="col-md-12 mt-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti
    beatae quia at eos optio quasi itaque deserunt alias repudiandae. Unde sint
    dolore nesciunt, ex optio nobis fugit nemo rerum?
  </div>
</div>