<div class="container">
  <div class="row justify-content-center align-content-center ml-2 mr-2">
    <div class="col-md-6 mb-4 mt-5 pl-2 pr-2 pb-2 pt-2 login text-dark bg-light">
      <h1 class="text-center mt-2 mb-4">Ingreso</h1>
      <ngb-alert [type]="alert.type" *ngIf="isError" (close)="isError = false">
        <ul class="mb-0">
          <li *ngFor="let message of alert.messages">{{ message }}</li>
        </ul>
      </ngb-alert>
      <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        <div class="form-group">
          <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="email" placeholder="Correo"
            required minlength="8" />
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="password"
            placeholder="Contraseña" required minlength="8" />
        </div>

        <button type="submit" class="btn col-12 login-btn mt-2 mb-2 btn-primary">
          Ingresar
        </button>
        <a class="btn col-12 login-btn mt-2 mb-2 pr-2 pl-2 btn-primary" routerLink="/registrar">¿Necesitas una Cuenta?</a>
        <button class="btn col-12 login-btn mt-2 mb-2 pr-2 pl-2 btn-primary">
          <i class="fab fa-facebook m-0 p-0"></i>
          <span> Ingresar con Facebook</span>
        </button>
        <button class="btn col-12 login-btn mt-2 mb-2 btn-primary">
          <i class="fab fa-twitter-square m-0 p-0"></i>
          <span> Ingresar con Twitter</span>
        </button>
      </form>
    </div>
  </div>
</div>