/* SIDEBAR STYLE */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* CONTENT STYLE */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

app-sidebar{
  background-color: #7386D5 !important;
}