<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Escuela Digital</h3>
  </div>

  <ul class="list-unstyled components">
    <div class="text-center">
      <img src="https://via.placeholder.com/150x150" class="rounded-circle" width="50%" />
      <p>{{ userProfile.firstName }}</p>
    </div>
    <li>
      <a href="#cursosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-book-open"></i> Mis Cursos</a>
      <ul class="collapse list-unstyled" id="cursosSubmenu">
        <li><a href="#">Matematicas Basicas</a></li>
        <li><a href="#">Historia de Colombia</a></li>
        <li><a href="#">Biologia</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="categorias" (click)="this.globals.setStateSidebar(!this.globals.getStateSidebar())"><i class="fas fa-book-open"></i>
        Caregorias</a>
    </li>
    <li>
      <a routerLink="/" (click)="this.globals.setStateSidebar(!this.globals.getStateSidebar())"><i class="far fa-comment"></i>
        Mensajes</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="article text-left"><i class="fas fa-cog"></i> Ajustes</a>
    </li>
    <li>
      <a href="#" class="article text-left"><i class="fas fa-file"></i> Terminos y Condiciones</a>
    </li>
    <li>
      <a routerLink="/" class="article text-left"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </li>
  </ul>
</nav>